body{
  background-repeat: repeat;
	background-image: url("img/header-v4.svg");
  height: 100vh;
}


.text-container {
  text-align: center;
  z-index: 10;
  position: relative;
}

.text {
  color: #53575a;
  font: 400 1.2rem/1.5rem "Source Code Pro", monospace;
  display: inline-block;
  background-color: #EDE8E5;
  padding: 5px 10px;
  border-radius: 10px;
}




.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .svg-container {
    position: relative;
    width: 50rem;
    height: 100%;
  }
  
  .svg-item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  
  /* keyframe animation for logo*/

  #svg1 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 0s;
     animation-fill-mode: forwards;
  }

  #svg2 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
     animation-fill-mode: forwards;
  }

  .#svg3 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
     animation-fill-mode: forwards;
  }

  #svg4 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
     animation-fill-mode: forwards;
  }

  #svg5 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 0.4s;
     animation-fill-mode: forwards;
  }

  #svg6 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
     animation-fill-mode: forwards;
  }

  #svg7 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 0.6s;
     animation-fill-mode: forwards;
  }

  #svg8 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 0.7s;
     animation-fill-mode: forwards;
  }

  #svg9 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 0.8s;
     animation-fill-mode: forwards;
  }

  #svg10 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 0.9s;
     animation-fill-mode: forwards;
  }

  #svg11 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 1s;
     animation-fill-mode: forwards;
  }

  #svg12 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 1.1s;
     animation-fill-mode: forwards;
  }

  #svg13 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 1.2s;
     animation-fill-mode: forwards;
  }

  #svg14 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 1.3s;
     animation-fill-mode: forwards;
  }

  #svg15 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 1.4s;
     animation-fill-mode: forwards;
  }

  #svg16 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
     animation-fill-mode: forwards;
  }

  #svg17 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 1.6s;
     animation-fill-mode: forwards;
    }

  #svg18 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 1.7s;
     animation-fill-mode: forwards;
  }

  #svg19 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 1.8s;
     animation-fill-mode: forwards;
  }

  #svg20 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 1.9s;
     animation-fill-mode: forwards;
  }

  #svg21 {
    animation-name: reveal;
    animation-duration: 0.5s;
    animation-delay: 2s;
     animation-fill-mode: forwards;
  }


  /* keyframes */
  @keyframes reveal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  